@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-size-adjust: 100%;
}

.app{
    width: 100%;
    position: relative;
}

.container-header{
    z-index: 1000;
    width: 100%;
    position: fixed;
}

.header__select{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    position: relative;
    padding: 10px;
    height: 75px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    z-index: 1100;
    background-image: url(https://assets.laliga.com/assets/public/beats/horizontal-light.svg);
    background-position: left -20% top -100px;
    background-size: 50%;
    background-repeat: no-repeat;
}

@media (max-width: 900px){
    .header__select{
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
    }
}

.header__select-content{
    width: 100%;
    max-width: 1296px;
    margin: 0px auto;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.header__select-content > p{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 10px 6px;
}

/* header button */



.btn-go{
    width: 70px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    position: relative;
    right: 490px;
    max-width: 100%;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12.8px;
    min-height: 36px;
    color: rgb(146, 218, 236);
    background: rgb(12, 27, 35);
    border: 1px solid rgb(146, 218, 236);
    border-radius: 3px;
    cursor: pointer;
    transition: color 0.3s ease 0s, background 0.3s ease 0s, border-color 0.3s ease 0s;
    margin: 0 auto;
}

.btn-go:hover{
    color: rgb(12, 27, 35);
    background: rgb(146, 218, 236);
    border-color: rgb(146, 218, 236);
}

.btn-go > a{
    width: 100%;
    height: calc(34px);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
}

.header-login{
    display: flex;
    align-items: center;
}

.header-login-link
{   
    text-transform: uppercase;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
}

.header-login-link > i {
    margin-right: 4px;
}

.header__web-club{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 48px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom: 1px solid #ccc;
    max-width: 1800px;
    margin: 0px auto;
    background-color: #fff;
}

.header__web-club > p{
    /* display: block; */
    font-size: 14px;
    color: rgb(69, 71, 77);
    line-height: 48px;
}

.header__web-club-link{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0px;
    width: 30px;
    height: 30px;
}

.header__web-club-link:hover{
    opacity: 0.6;
}

.header__web-club-link img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* main nav */

.main-nav{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-image: linear-gradient(to top, rgb(221, 122, 122) , rgb(255, 5, 5));
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

}

.nav-logo{
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-logo > img{
    border-radius: 4px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list-left{
    margin-left: 20px;
}

.nav-list-right{
    margin-right: 20px;
}
.nav-list-item{
    line-height: 50px;
    padding: 0 20px;
    border-radius: 5px;

}

.nav-list .nav-list-item:hover{
    background-color: rgb(21, 179, 158);
}

.nav-list-item > .active{
    color: #55acee !important;
}

.nav-list .nav-list-item > a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 20px;
}

.container-link{
    text-decoration: none;
    color: #000;
}

.container-link:hover{
    text-decoration: underline;
}

.container-img{
    width: 100%;
}

.text-desciption{
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
    white-space: 1px;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: justify;
}

.share{
    margin-top: 20px;
    float: left;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    color: rgb(37, 40, 42);
    padding: 0px;
}

.share:hover .container-social{
    display: block;
    cursor: pointer;
}

.share > span {
    margin-right: 8px;
    font-weight: 500;
    font-size: 16px;
}

.share > i{
    font-size: 16px;
}

/* container body */

.body{
    padding: 184px 0 100px 0;
    width: 100%;
}

.container-wrapper{
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    background-image: linear-gradient(to top, #FDFF00, rgb(233, 176, 72));
    color: rgb(37, 40, 42);
    background-repeat: no-repeat;
    /* background-image: url(https://assets.laliga.com/assets/public/beats/vertical.svg); */
    background-size: auto 100%;
    width: 100%;
}



.container-wrapper-content{
    width: 100%;
    max-width: 1296px;
    margin: 0px auto;
    position: relative;
}

.container-icon{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 5px;
    font-size: 16px;
}

.container-icon-main{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}


/* footer */

.container-social__icon{
    background-color: #d41819;
}

.container-social__icon-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;

}

.container-social__icon-list-item{
    line-height: 50px;
    height: 50px;
    margin-right: 20px;
}

.container-social__icon-link{
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}

/* form login */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
  }
  
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
  }

