@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
}

.app{
    width: 100%;
    position: relative;
}



.header__select{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    position: relative;
    padding: 10px;
    height: 75px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    z-index: 1100;
    background-image: url(https://assets.laliga.com/assets/public/beats/horizontal-light.svg);
    background-position: left -20% top -100px;
    background-size: 50%;
    background-repeat: no-repeat;
}

.header__select-content{
    width: 100%;
    max-width: 1296px;
    margin: 0px auto;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.header__select-content > p{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 10px 6px;
}

/* header button */



.btn{
    width: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    position: absolute;
    right: 35%;
    max-width: 100%;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12.8px;
    min-height: 36px;
    color: rgb(146, 218, 236);
    background: rgb(12, 27, 35);
    border: 1px solid rgb(146, 218, 236);
    border-radius: 3px;
    cursor: pointer;
    transition: color 0.3s ease 0s, background 0.3s ease 0s, border-color 0.3s ease 0s;
    margin: 0 auto;
}

.btn:hover{
    color: rgb(12, 27, 35);
    background: rgb(146, 218, 236);
    border-color: rgb(146, 218, 236);
}

.btn a{
    width: 100%;
    height: calc(34px);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
}

.header__web-club{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 48px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom: 1px solid rgb(213, 215, 215);
    max-width: 1800px;
    margin: 0px auto;
}

.header__web-club > p{
    display: block;
    font-size: 14px;
    color: rgb(69, 71, 77);
    line-height: 1.5;
}

.header__web-club-link{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0px;
    width: 30px;
    height: 30px;
}

.header__web-club-link:hover{
    opacity: 0.6;
}

.header__web-club-link img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* header container */

.header-container{
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 8vw 1fr;
}

.header-container__left-line-above{
    grid-area: 1 / 1 / auto / auto;
    background-color: rgb(255, 255, 255);
    color: rgb(37, 40, 42);
    -webkit-box-pack: end;
    justify-content: flex-end;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 56px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.header-container__left-menu{
    max-width: calc(900px - 4vw);
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.mg-10{
    margin: 10px;
}

.header-container__left-menu-item{
    font-size: 0.8rem;
    flex: 1 1 33%;
    height: 38px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s;
    background-color: transparent;
    user-select: none;
}

.header-container__left-menu-item:hover{
    border-color: rgb(213, 215, 215);
}

.header-container__left-menu-item >span{
    margin-left: 0.25rem;
    width: auto;
    height: auto;
    letter-spacing: 0.8px;
}

.header-container__right-menu{
    grid-area: 1 / 3 / auto / auto;
    background-color: rgb(255, 255, 255);
    color: rgb(37, 40, 42);
    -webkit-box-pack: start;
    justify-content: flex-start;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 56px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 30px;
}

.header-container__group{
    max-width: calc(900px - 4vw);
    min-width: 268.92px;
}

.header-container__menu-group{
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.header-container__group-item{
    font-size: 0.8rem;
    flex: 1 1 33%;
    height: 38px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s;
    background-color: transparent;
    user-select: none;           
}

.header-container__group-item:hover{
    border-color: rgb(213, 215, 215);
}

.header-container__group-item > span{
    margin-left: 0.25rem;
    width: auto;
    height: auto;
    letter-spacing: 0.8px;
}

.header-container__login{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 100px;
}

.header-container__login:hover{
    opacity: 0.6;
}

.header-container__login-link{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
}

                        
.header-logo__container-main-link-img:hover{
    opacity: 0.8;
}

.user-icon{
    text-align: center;
    font-size: 1.2rem;
    color: rgb(37, 40, 42);
    margin: 0px 5px;

}

.header-logo__container{
    grid-area: 1 / 2 / span 3 / auto;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(37, 40, 42);
    position: relative;
}

.header-logo__container-main{
    width: 100%;
    height: 112px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 20px;
    padding: 0.5rem;
    z-index: 10;
}

.header-logo__container-main-link{
    display: block;
    height: 100%;
    -webkit-transition: color .15s ease-in;
    transition: color .15s ease-in;
}

/* .header-sub-menu{
    grid-area: 2 / 1 / auto / span 3;
    overflow: hidden;
    transition: height 0.3s ease 0s, max-height 0.3s ease 0s;
    max-height: 0px;
    height: 0px;
    position: relative;
}

.header-sub-menu-container > div{
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease 0s;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
} */

.header-left-bottom{
    grid-area: 3 / 1 / auto / auto;
    background-color: rgb(37, 40, 42);
    color: rgb(255, 255, 255);
}

.header-left-bottom__container-menu{
    max-width: calc(900px - 4vw);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.header-left-bottom__container-menu-item{
    flex: 1 1 25%;
    height: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    z-index: 20;
}